<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform
        forwardWindowsAuthToken="true"
        stdoutLogEnabled="true"
        stdoutLogFile="PdfCompressor.log"
        startupTimeLimit="20"
        processPath=".\PdfCompressor.exe"
        arguments="%HTTP_PLATFORM_PORT% &quot;PdfCompressor&quot;"/>
  </system.webServer>
</configuration>
